@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.node-blockquote {
	@apply border-l-4 border-white text-left pl-8;
}
